@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  src: url('/src/assets/font/PretendardVariable.woff2');
}

body {
  font-family: 'Pretendard', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
